@import '../../../variables.scss';

.wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 480px;  
    //min-height: 90vh;

    .fragments {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            content: '';
            background-image: linear-gradient(to right, $bg 25%, transparent 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        > img {
            padding: 3rem 0 0 1rem;
        }
    }

    .info {
        position: relative;
        z-index: 1;
        width: 600px;
        padding-left: 1rem;
        transition: cubic-bezier(.25,.1,.25,1);

        .additional {
            display: flex;
            align-items: center;
            color: $gray;
            margin: 1rem 0 2rem;

            > span {
                margin-right: 1.5rem;
                font-size: 18px;

                &.limitAge {
                    border: 1px solid $gray;
                    border-bottom: 2px solid $gray;
                    border-radius: 20%;
                    padding: .2rem;
                }
            }
        }

        .description,
        .transparent {
            font-size: 18px;
            color: $gray;
            margin-bottom: 2rem;
            line-height: 1.5;
            transition: .4s all ease;
        }
        .transparent {
            color: transparent;
        }

        .buttons {
            margin-bottom: 5rem;
        }

        .links {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 2;
            padding: 3.5rem 0 2rem 1rem;
            font-size: 18px;
            transition: .4s all ease;

            > a {
                display: block;
                color: $gray;
                transition: .3s ease;

                &:hover {
                    color: #fff;
                }
            }
        }
        .hidden {
            display: none;
        }
    }

    .episodes {
        z-index: 100;
        padding: 3rem 0 5rem 1rem;

        .title {
            padding: 2rem 3rem;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            label {
                color: #fff;
                z-index: 1;
            }
    
            span {
                z-index: 1;
            }
        
            button {
                z-index: 1;
                color: #fff;
                background: none;
                border: none;
                font-size: 16px;
                padding: 0;
                align-items: center;
                text-align: center;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    
}