@import '../../../variables';

.wrapper {
    //min-height: 500px;
    overflow: hidden;

    .title {
        padding: 2rem 3rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            color: #fff;
            background: none;
            border: none;
            font-size: 16px;
            padding: 0;
            align-items: center;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .listContainer {
        display: inline-flex;
        margin-left: 2rem;

        .listWrapper {

            .listItem {
                position: relative;
                margin: 0 .5rem;
                max-width: 150px;
                cursor: pointer;
                overflow: hidden;
                aspect-ratio: 5/7;
                transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    
                > img {
                    height: 100%;
                    margin-left: -20%;
                }
    
                &::before {
                    content: '';
                    background-image: linear-gradient(to top, $bg, transparent 70%);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                .name, .duration {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: none;
                    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                .name {
                    color: #fff;
                    font-size: 16px;
                    margin: 0 0 1.6rem 0.2rem;
                    max-width: 100%;
                    cursor: pointer;
                }
    
                .duration {
                    color: $gray;
                    margin-bottom: 0.6rem;
                    margin-left: 0.3rem;
                    font-size: 12px;
                }
    
                &:hover {
                    //transform: translateY(-15%);
                    animation: upside .7s;

                    @keyframes upside {
                        0% {
                            transform: translateY(0%);
                        }
                        50% {
                            transform: translateY(-3%);
                        }
                        100%{
                            transform: translateY(0%);
                        }
                    }

                    .name, .duration {
                        display: block;
                        animation: opacity .7s;
                    }

                    &::before {
                        //height: calc(100% + 3.2rem); /* 1.6rem (bottom margin of .name) + 0.6rem (bottom margin of .duration) + 1rem (extra space) */
                        //height: 150%;
                    }
                }
            }
    
            i {
                color: $red;
                font-size: 36px;
                //padding: 3px;
                padding-left: 2px;
                position: absolute;
                left: 45%;
                bottom: 38%;
                border: 1px solid $bg;
                border-radius: 50%;
                background-color: $bg;
                display: none;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        
        .blockSeeAll {
            width: 50px;
            height: 100%;
            margin: 0 .5rem;
            background-color: #ffffff19;
            border-radius: 7%;
            text-align: center;

            > i {
                color: #fff;
                font-size: 36px;
                margin: 104% 0;
            }

            &:hover {
                box-shadow: 0 0 0.2rem 0 $gray;
            }
        }
        
    }
}

