@import '../../../variables';

.footer {
    height: 50px;
    background-color: $bg;
    text-align: center;
    position: relative;
    margin-top: 40px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $gray;
    }

    > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 15px;
        bottom: 0;
        color: $gray;
    }
}