@import '../../../variables';

.button {
    border: 1px solid rgba(255, 255, 255, .7);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    margin-right: 1rem;
    color: $gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    transition: all .3s;

    i {
        font-size: 28px;
        margin: 0.1rem 0.4rem ;
        transition: .5s all ease;
    }

    &:hover{
        transform: translateY(-0.10em);
        box-shadow: 0 0 0.5em 0em $gray;
    }
}