$gray: #9b9a97;
$red: #c62e21;
$bg: #0f1011;

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes bell {
	25% {
		rotate: -15deg;
	}
	75% {
		rotate: 10deg;
	}
}

@keyframes swipeLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes swipeRight {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}